[run]

branch = True

# The concurrency libraries in use by the product code.
# If your program uses multiprocessing, gevent, greenlet, or eventlet,
# you must name that library in this option, or coverage.py will produce very wrong results.
concurrency = greenlet


[report]

exclude_lines =
    if TYPE_CHECKING:
    pragma: no cover

fail_under = 100

show_missing = True

skip_covered = True

skip_empty = True
